Repository Ouranosinc/xscen, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, xclim

better typing
  xscen/catutils.py
  xscen/diagnostics.py
  xscen/ensembles.py
  xscen/extract.py
  xscen/indicators.py
Labels: none

typing
  xscen/io.py
Labels: none

more typing fixes
  xscen/io.py
  xscen/reduce.py
  xscen/regrid.py
  xscen/scripting.py
  xscen/spatial.py
  xscen/testing.py
  xscen/utils.py
Labels: none

upd HISTORY
  HISTORY.rst
Labels: none

Update xscen/biasadjust.py
  xscen/biasadjust.py
Labels: none

Update xscen/catutils.py
  xscen/catutils.py
Labels: none

unpin xarray, no more mention of xdoctest, update pip version
  environment.yml
  setup.cfg
  setup.py
  tox.ini
Labels: CI

more specific dev dependencies, update documentation
  CONTRIBUTING.rst
  setup.py
Labels: docs

Test ESMF from conda and remainder PyPI deps (#274)
  .github/workflows/main.yml
  .readthedocs.yml
  CONTRIBUTING.rst
  HISTORY.rst
  MANIFEST.in
  Makefile
  environment-dev.yml
  setup.cfg
  setup.py
  tox.ini
Labels: CI, docs

snapshot; climatological_op working for linregress, doing window(ing) and stride (formerly 'interval')
  xscen/aggregate_old.py
  xscen/utils.py
Labels: none

snapshot; rmoved xscen/aggregate_old.py intermediate file
  xscen/aggregate_old.py
Labels: none

add parse_config
  xscen/diagnostics.py
Labels: none

remove ABC
  xscen/catalog.py
Labels: none

Update xscen/biasadjust.py
  xscen/biasadjust.py
Labels: none

Update xscen/catalog.py
  xscen/catalog.py
Labels: none

Update xscen/catalog.py
  xscen/catalog.py
Labels: none

Update xscen/catalog.py
  xscen/catalog.py
Labels: none

add Optional
  xscen/aggregate.py
  xscen/biasadjust.py
  xscen/catalog.py
  xscen/catutils.py
  xscen/diagnostics.py
  xscen/ensembles.py
  xscen/extract.py
  xscen/indicators.py
  xscen/io.py
  xscen/reduce.py
  xscen/regrid.py
  xscen/scripting.py
  xscen/spatial.py
  xscen/testing.py
  xscen/utils.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: CI

fixes from suggestions
  xscen/catutils.py
  xscen/utils.py
Labels: none

fix docstrings
  xscen/utils.py
Labels: none

updated show_version list and warning to devs
  environment-dev.yml
  environment.yml
  setup.py
  xscen/utils.py
Labels: none

unpin xarray
  environment-dev.yml
  environment.yml
Labels: none

xclim 0.46
  environment-dev.yml
  environment.yml
Labels: none

climatological_op, working v1
  xscen/aggregate.py
Labels: none

debug test_indicators
  tests/test_indicators.py
Labels: none

all tests for climatological_op passing
  tests/test_aggregate.py
  tests/test_indicators.py
  xscen/aggregate.py
Labels: none

change regressors in linregress to periods years, updated test, all tests passing
  tests/test_aggregate.py
  xscen/aggregate.py
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: CI

Updated HISTORY; climatological_mean calls climatological_op, TestClimatologicalMean adjusted to reflect minor changes in long_name, description, history
  HISTORY.rst
  tests/test_aggregate.py
  xscen/aggregate.py
Labels: none

Draft output option periods_as_dim for climatological_op + test
  tests/test_aggregate.py
  xscen/aggregate.py
Labels: none

add warning
  xscen/extract.py
Labels: none

history
  HISTORY.rst
Labels: none

better check
  xscen/extract.py
Labels: none

conda environment shouldn't fail from pip check
  .github/workflows/main.yml
Labels: CI

call commands via python -m for safety
  .github/workflows/bump-version.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

update HISTORY.rst
  HISTORY.rst
Labels: none

Update xscen/extract.py
  xscen/extract.py
Labels: none

add get_partition_input
  xscen/ensembles.py
Labels: none

periods_as_dim final and updated to xarray=2023.9; added unstacked time to output; all tests pass
  tests/test_aggregate.py
  xscen/aggregate.py
Labels: none

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

CI:
  - .cruft.json
  - .editorconfig
  - .gitignore
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - .secrets.baseline
  - .yamllint.yaml
  - .github/workflows/*
  - docs/Makefile
  - tox.ini
  - Makefile

docs:
  - .readthedocs.yml
  - docs/**/*
  - CONTRIBUTING.rst
  - ISSUE_TEMPLATE/**/*
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.rst

xclim:
  - xscen/xclim_modules/**/*
