Repository Ouranosinc/xscen, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, xclim

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

# label 'ci' all automation-related steps and files
#   Since this repository is in itself an automation process to deploy a server instance,
#   we refer here to CI as the 'meta' configuration files for managing the code and integrations with the repository,
#   not configurations related to the deployment process itself.

CI:
  - .cruft.json
  - .editorconfig
  - .gitignore
  - .pre-commit-config.yaml
  - .readthedocs.yml
  - .secrets.baseline
  - .yamllint.yaml
  - .github/workflows/*
  - docs/Makefile
  - tox.ini
  - Makefile

docs:
  - .readthedocs.yml
  - docs/**/*
  - CONTRIBUTING.rst
  - ISSUE_TEMPLATE/**/*
  - ISSUE_TEMPLATE.md
  - PULL_REQUEST_TEMPLATE.md
  - README.rst

xclim:
  - xscen/xclim_modules/**/*

test for select_inds_for_avail_vars, first draft
  tests/test_indicators.py
Labels: none

Apply suggestions from code review
  xscen/io.py
Labels: none

Fix test - rename _get_keepbits
  tests/test_io.py
  tests/test_scripting.py
  xscen/io.py
Labels: none

rename func in tests too
  tests/test_io.py
Labels: none

Better no translation error and add note to doc
  docs/goodtoknow.rst
  xscen/utils.py
Labels: docs

stage tox.ini for tox-conda support
  tox.ini
Labels: CI

call linters in a better order
  Makefile
Labels: CI

fix some dependency issues
  environment-dev.yml
  setup.py
  tox.ini
Labels: CI

more specific packaging inclusions
  MANIFEST.in
Labels: none

attempt to use tox with install-esmf-action
  .github/workflows/main.yml
Labels: CI

adjust tox environments
  .github/workflows/main.yml
Labels: CI

make translate to call setuptools cannot easily be run from within tox, add cache key
  .github/workflows/main.yml
  tox.ini
Labels: CI

force caching
  .github/workflows/main.yml
Labels: CI

fix caching
  .github/workflows/main.yml
Labels: CI

tox testing cannot be used since the test logic is hardcoded to data found in the notebooks
  .github/workflows/main.yml
Labels: CI

disable tox-env, install dev
  .github/workflows/main.yml
Labels: CI

try esmf v8.4.2
  .github/workflows/main.yml
Labels: CI

try different MANIFEST.in approach, remove --cov (in setup.cfg already)
  .github/workflows/main.yml
  MANIFEST.in
Labels: CI

test tests
  .github/workflows/main.yml
Labels: CI

install esmpy manually, add color to pytest
  .github/workflows/main.yml
  setup.cfg
Labels: CI

ignore netcdf tests for PyPI, fix MANIFEST.in
  .github/workflows/main.yml
  MANIFEST.in
Labels: CI

Abandon ESMF-install action, use conda ESMF and remainder from PyPI, move nc-time-axis to docs-only deps
  .github/workflows/main.yml
  environment.yml
  setup.py
Labels: CI

it's just one of those days
  .github/workflows/main.yml
Labels: CI

order is important
  .github/workflows/main.yml
Labels: CI

one last try at tox
  .github/workflows/main.yml
  tox.ini
Labels: CI

make translate
  tox.ini
Labels: CI

cleanup
  .github/workflows/main.yml
Labels: CI

make translate on RTD
  .readthedocs.yml
Labels: CI, docs

update HISTORY.rst
  HISTORY.rst
Labels: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Labels: CI

Pin fsspec everywhere
  environment-dev.yml
  environment.yml
  setup.py
Labels: none

more intuitive exclusions
  tests/test_extract.py
  xscen/extract.py
Labels: none

upd HISTORY
  HISTORY.rst
Labels: none

better typing in aggregate
  xscen/aggregate.py
Labels: none

better typing in biasadjust
  xscen/biasadjust.py
Labels: none

better typing in catalog
  xscen/catalog.py
Labels: none

better typing in catutils
  xscen/catutils.py
Labels: none

better typing in config
  xscen/config.py
Labels: none

simpler optionals and better typing
  xscen/aggregate.py
  xscen/biasadjust.py
  xscen/catalog.py
  xscen/catutils.py
  xscen/diagnostics.py
Labels: none

more typing fixes
  xscen/ensembles.py
  xscen/extract.py
Labels: none
