Repository Ouranosinc/xscen, pull requests merged in 2023-12, with the labels that each got.

#294 [bot] Update GitHub Action Versions
  .github/workflows/bump-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conda-build.yml
  .github/workflows/first_pull_request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/remove-obsolete-cache.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

#295 Update actions-versions-updater.yml
  .github/workflows/actions-versions-updater.yml
Labels: CI

#270 Better global tas database and warming level methods
  .gitignore
  CHANGES.rst
  MANIFEST.in
  docs/goodtoknow.rst
  docs/notebooks/1_catalog.ipynb
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/5_warminglevels.ipynb
  docs/notebooks/GlobalTasAverageObs.ipynb
  tests/test_extract.py
  xscen/catalog.py
  xscen/data/IPCC_annual_global_tas.csv
  xscen/data/IPCC_annual_global_tas.nc
  xscen/extract.py
Labels: CI, docs

#304 Do not fail because of Linkcheck, add ignored links
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGES.rst
  docs/conf.py
  docs/index.rst
  docs/notebooks/1_catalog.ipynb
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/3_diagnostics.ipynb
  docs/notebooks/4_ensemble_reduction.ipynb
  docs/notebooks/5_warminglevels.ipynb
  docs/notebooks/6_config.ipynb
  docs/notebooks/global_tas_average_obs.ipynb
  docs/notebooks/index.rst
Labels: CI, docs

#290 Climatological op
  CHANGES.rst
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/6_config.ipynb
  templates/1-basic_workflow_with_config/config1.yml
  tests/test_aggregate.py
  tests/test_indicators.py
  xscen/aggregate.py
  xscen/indicators.py
  xscen/utils.py
Labels: docs
