Repository Ouranosinc/xscen, pull requests merged in 2023-09, with the labels that each got.

#254 Small fixes on automated actions
  .github/labeler.yml
  .pre-commit-config.yaml
  HISTORY.rst
  docs/notebooks/2_getting_started.ipynb
  tests/test_diagnostics.py
Labels: CI, docs

#251 Test search_data_catalogs
  HISTORY.rst
  docs/notebooks/1_catalog.ipynb
  tests/conftest.py
  tests/test_extract.py
  xscen/extract.py
Labels: docs

#256 Fix issues with PDF docs generation
  CONTRIBUTING.rst
  HISTORY.rst
  docs/conf.py
Labels: bug, docs

#257 Fix the notebooks again
  .readthedocs.yml
  docs/conf.py
Labels: bug, CI, docs

#236 Translation
  .github/workflows/main.yml
  CONTRIBUTING.rst
  MANIFEST.in
  Makefile
  docs/goodtoknow.rst
  docs/installation.rst
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/6_config.ipynb
  environment-dev.yml
  environment.yml
  setup.cfg
  setup.py
  templates/1-basic_workflow_with_config/config1.yml
  templates/2-indicators_only/config2.yml
  tests/test_aggregate.py
  xscen/aggregate.py
  xscen/config.py
  xscen/data/fr/LC_MESSAGES/xscen.po
  xscen/diagnostics.py
  xscen/utils.py
Labels: CI, docs
