Repository Ouranosinc/xscen, pull requests merged in 2023-03, with the labels that each got.

#163 Template doc and a few small fixes
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CONTRIBUTING.rst
  HISTORY.rst
  docs/index.rst
  docs/templates.rst
  templates/2-indicators_only/config2.yml
  templates/2-indicators_only/indicators2.yml
  templates/2-indicators_only/workflow2.py
  templates/readme.rst
  xscen/catalog.py
  xscen/extract.py
Labels: documentation

#164 Add Zenodo configuration, shields, and format JSON
  .pre-commit-config.yaml
  .zenodo.json
  HISTORY.rst
  README.rst
  xscen/CVs/infer_resolution.json
  xscen/CVs/resampling_methods.json
Labels: documentation, CI

#173 Fix documentation builds
  .readthedocs.yml
  HISTORY.rst
  Makefile
  docs/conf.py
  environment-dev.yml
  environment.yml
  setup.py
Labels: bug, documentation
