Repository Ouranosinc/xscen, pull requests merged in 2025-03, with the labels that each got.

#530 Use xsdba
  CHANGELOG.rst
  README.rst
  docs/conf.py
  docs/index.rst
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/3_diagnostics.ipynb
  docs/notebooks/samples/properties.yml
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xscen/biasadjust.py
  src/xscen/diagnostics.py
  templates/1-basic_workflow_with_config/config1.yml
  templates/1-basic_workflow_with_config/properties1.yml
  tests/test_biasadjust.py
Labels: docs

#549 Prepare 0.12
  .cruft.json
  CHANGELOG.rst
  pyproject.toml
  src/xscen/__init__.py
Labels: CI

#550 Hotfix: use flit for distribution packaging
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

#554 Add xESMF testing for tox
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/installation.rst
  tests/test_aggregate.py
  tox.ini
Labels: CI, docs
