Repository Ouranosinc/xscen, pull requests merged in 2025-02, with the labels that each got.

#527 Update cookiecutter template, fix CI builds
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/upstream.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  README.rst
  docs/notebooks/1_catalog.ipynb
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/3_diagnostics.ipynb
  docs/notebooks/4_ensembles.ipynb
  docs/notebooks/5_warminglevels.ipynb
  docs/notebooks/6_config.ipynb
  environment-dev.yml
  pyproject.toml
  src/xscen/biasadjust.py
  src/xscen/catalog.py
  src/xscen/catutils.py
  src/xscen/data/fr/LC_MESSAGES/xscen.mo
  src/xscen/data/fr/LC_MESSAGES/xscen.po
  src/xscen/extract.py
  src/xscen/indicators.py
  src/xscen/regrid.py
  src/xscen/scripting.py
  src/xscen/spatial.py
  templates/2-indicators_only/config2.yml
  tox.ini
Labels: CI, docs

#519 Drop setuptools, use flit
  .cruft.json
  .github/workflows/bump-version.yml
  .github/workflows/cache-cleaner.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/first-pull-request.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/scorecard.yml
  .github/workflows/tag-testpypi.yml
  .github/workflows/upstream.yml
  .github/workflows/workflow-warning.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  CHANGELOG.rst
  CI/requirements_ci.in
  CI/requirements_ci.txt
  CI/requirements_upstream.txt
  MANIFEST.in
  Makefile
  README.rst
  docs/notebooks/1_catalog.ipynb
  docs/notebooks/2_getting_started.ipynb
  docs/notebooks/3_diagnostics.ipynb
  docs/notebooks/4_ensembles.ipynb
  docs/notebooks/5_warminglevels.ipynb
  docs/notebooks/6_config.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xscen/biasadjust.py
  src/xscen/catalog.py
  src/xscen/catutils.py
  src/xscen/data/fr/LC_MESSAGES/xscen.mo
  src/xscen/data/fr/LC_MESSAGES/xscen.po
  src/xscen/extract.py
  src/xscen/indicators.py
  src/xscen/regrid.py
  src/xscen/scripting.py
  src/xscen/spatial.py
  templates/2-indicators_only/config2.yml
  tox.ini
Labels: CI, docs

#533 Pin sphinx in conda, synchronize dependencies
  .github/workflows/main.yml
  CHANGELOG.rst
  docs/conf.py
  environment-dev.yml
  environment.yml
  pyproject.toml
  tox.ini
Labels: CI, docs

#532 Adapt to xclim 0.55 - Fix Upstream CI
  .github/workflows/main.yml
  .github/workflows/upstream.yml
  CHANGELOG.rst
  docs/notebooks/1_catalog.ipynb
  docs/notebooks/2_getting_started.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xscen/catutils.py
  src/xscen/extract.py
  src/xscen/spatial.py
  tests/test_aggregate.py
  tests/test_catutils.py
  tests/test_diagnostics.py
  tests/test_ensembles.py
  tests/test_scripting.py
Labels: CI, docs

#531 Unpin, to see what happens
  docs/notebooks/6_config.ipynb
  environment-dev.yml
  environment.yml
  pyproject.toml
  src/xscen/io.py
Labels: docs

#537 Increase python version for upstream CI
  .github/workflows/upstream.yml
Labels: CI
